# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* language
* libraries
* arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
1. R
1. SQL
1. Java
1. MATLAB

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
1. Pandas
1. SciKit-Learn
1. Matplotlib
1. Keras

| Data Science Tools |
| --- |
| Weka |
| Scrapy |
| Pandas |

### Below are a few examples of evaluating arithmetic expressions in Python
a = 10
b = 20
a + b
c = 5
d = 20
c - d

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Marko Kuvezdic